
#matrix {
	margin: 20px;
	padding: 0px;
	border: 2px solid black;
	width: 468px;
	height: 468px;
	background-color: #fc7;	
	z-index: 4;
}

.cell {
	float: left;
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
	font-size: 30pt;
	text-align: center;
	width: 50px;
	height: 50px;
	background-color: #fc3;	
}

.cell_step {
	float: left;
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
	font-size: 30pt;
	text-align: center;
	width: 50px;
	height: 50px;
	background-color: #fc9;	
}

.button_game {
	float: left;
	margin: 20px 5px 0px 20px;
	padding: 0px;
	border: 1px solid black;
	font-size: 30pt;
	text-align: center;
	width: 50px;
	height: 50px;
	background-color: #fc3;	
}

#progress_bar_game {
	float: left;
	margin: 20px 5px 0px 20px;
	padding: 0px;
	border: 1px solid black;
	font-size: 30pt;
	text-align: center;
	width: 100px;
	height: 50px;
	background-color: #fc3;	
}


#baner { 
	visibility: hidden;
	position: relative; 
	border: 2px solid #7d7d7d;
	box-shadow: 0.4em 0.4em 5px #7a7a7a94;
	font-size: 20pt;
	text-align: center;
	padding-top: 10px;
	width: 150px;
	height: 70px;
	background-color: #ffeb8a;	
	top: -300px;
	left: 190px;
	z-index: 50;
}
